{
  "presets": [
    "@babel/react",
    "@babel/typescript",
    [
      "@babel/env",
      {
        "modules": false
      }
    ]
  ],
  "env": {
    "production": {
      "presets": ["minify"]
    }
  },
  "plugins": [
    "transform-class-properties",
    "lodash",
    "react-hot-loader/babel"
  ]
}
