.dashboard-body {
    display: flex;
    flex-direction: row;
    .dashboard-panel {
        display: flex;
        flex-direction: column;
        width: 225px;
        text-decoration: none;
    }
    .dashboard-link {
        text-decoration: none;
    }
}
